<!-- 

CITE: We used the framework from the website, since it is just a front end design issue and it is just a framework.

http://getbootstrap.com/examples/offcanvas/# 
https://github.com/twbs/bootstrap/tree/master/examples/offcanvas

-->
{% extends 'GET/get_base.html' %}
{% load staticfiles %}

{% block styling %}
    <style type="text/css">
      #id_amount
      {
        text-align: right;
      }
    </style>
{% endblock %}

{% block content %}

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h2>Hi, {{ first_name }}!</h2>
          </div>
          <div class="row"> 
              

            <div class="col-6 col-sm-6 col-lg-4">
              {% if owed_by_none %}
                  <h3>No one owes me! </h3>
                {% else %}
                  <h3>These people owe me: </h3>
                  <table border="1">
                    <tr> <th>Name</th> <th>Amount</th> </tr>
                    {% for contact in contact_uoi %}
                    <tr>
                      <td>{{ contact.p_login.first_name }}</td>
                        <td>${{ contact.iou }}</td>
                    </tr>
                    {% endfor %}
                  </table>
                {% endif %}
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              {% if owe_no_one %}
                <h3>I owe no one! </h3>
              {% else %}
                <h3>I owe these people: </h3>
                <table border="1">
                  <tr> <th>Name</th> <th>Amount</th> </tr>
                  {% for contact in contact_iou %}
                  <tr>
                    <td>{{ contact.s_login.first_name }}</td>
                      <td>${{ contact.iou }}</td>
                  </tr>
                  {% endfor %}
                </table>
              {% endif %}
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              {% if is_involved %}
                <h3>Expense involved in</h3>                              
                <table border="1">
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Amount</th>              
                {% for expense in involve_list %}
                </tr>                
                <tr>
                    <td>{{ expense.exp_date.year }}-{{ expense.exp_date.month }}-{{ expense.exp_date.day }}</td>
                      <td>{{ expense.description }}</td>
                      <td>${{ expense.share }}</td>          
                </tr>
                {% endfor %}                
                </table>                
              {% else %}
                    <h3>Spent no money lately!</h3>
              {% endif %}                            
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/span-->
{% endblock %}