<!-- 

CITE: We used the framework from the website, since it is just a front end design issue and it is just a framework.

http://getbootstrap.com/examples/offcanvas/# 
https://github.com/twbs/bootstrap/tree/master/examples/offcanvas

-->
{% extends 'GET/get_base.html' %}
{% load staticfiles %}

{% block styling %}
    <style type="text/css">
      #id_amount
      {
        text-align: right;
      }
    </style>
{% endblock %}

{% block content %}

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h2>Hi, {{ first_name }}! It is always good to clean your debt.</h2>
          </div>
          {% if not_made_payment %}
          <h3> No payments lately! </h3>          
          {% else %}
          <h3> Payments Made in the: </h3>          
          <div class="row"> 
            <div class="col-6 col-sm-6 col-lg-4">
              {% if not_made_payment %}
                  <h3>Paid no one back. </h3>
                {% else %}
                  <h3>Past week</h3>
                  <table border="1">
                    <tr> 
                      <th>Date</th>
                      <th>Name</th>
                      <th>Amount</th>
                    </tr>
                    {% for pay in payment_week %}
                    <tr>
                      <td>{{ pay.pay_date.year }}-{{ pay.pay_date.month }}-{{ pay.pay_date.day }}</td>
                        <td>{{ pay.payee_login.first_name }}</td>
                        <td>${{ pay.amount }}</td>
                    </tr>
                    {% endfor %}
                  </table>
                {% endif %}
            </div><!--/span-->

            <div class="col-6 col-sm-6 col-lg-4">
              {% if not_made_payment %}
                  <h3>Paid no one back. </h3>
                {% else %}
                  <h3>Past month</h3>
                  <table border="1">
                    <tr> 
                      <th>Date</th>
                      <th>Name</th>
                      <th>Amount</th>
                    </tr>
                    {% for pay in payment_month %}
                    <tr>
                      <td>{{ pay.pay_date.year }}-{{ pay.pay_date.month }}-{{ pay.pay_date.day }}</td>
                        <td>{{ pay.payee_login.first_name }}</td>
                        <td>${{ pay.amount }}</td>
                    </tr>
                    {% endfor %}
                  </table>
                {% endif %}
            </div><!--/span-->

            <div class="col-6 col-sm-6 col-lg-4">
              {% if not_made_payment %}
                  <h3>Paid no one back. </h3>
                {% else %}
                  <h3>Past year</h3>
                  <table border="1">
                    <tr> 
                      <th>Month</th>
                      <th>Amount</th>
                    </tr>
                    {% for key,value in payment_months.items %}
                      <tr>
                        <td>
                          {% if key = 0 %}
                            this month
                          {% elif key = 1 %}
                            last month
                          {% else %}
                            {{ key }} month
                          {% endif %}
                        </td>
                        <td>${{ value }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                {% endif %}
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/span-->          
    {% endif %}          

{% endblock %}