{% extends 'GET/get_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block styling %}
<style type="text/css">
	#id_amount
	{
		text-align: right;
	}
</style>
{% endblock %}

{% block content %}
{% crispy form %}
{% endblock %}

{% block scripting %}
	<script type="text/javascript">
	$(document).ready(function () {
		$('form#add_contact_form #button-id-cancel').click(function() {
		    window.location.href = '{% url 'get:contacts_page' %}';
		    return false;
		});
	});
	</script>
{% endblock %}
